.item-name {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 3px;
    margin-top: 0px;
}
.item-description {
    margin: 0px;
}
.grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
    margin: 10px 0 20px 0;
}
.buttons-container {
    min-width: calc(42px + 10px);
}
.buttons {
    position: absolute;
    top: calc(50% - 8px);
    cursor: pointer;
    margin-right: 5px;
}
.button {
    display: inline-block !important;
    padding: 3px;
    width: 16px !important;
    color: var(--vscode-icon-foreground);
    background-color: var(--vscode-toolbar-background);
}
.button:hover {
    color: var(--vscode-icon-secondaryForeground);
    background-color: var(--vscode-toolbar-hoverBackground);
}
.button > .codicon {
    display: block !important;
    width: 16px !important;
}
#tabHeaders > div {
    font-size: 115%;
    display: inline-block !important;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

#tabHeaders > div:hover {
    background-color: var(--vscode-toolbar-hoverBackground);
}

#Config > .configLine {
    display: grid;
    grid-template-columns: auto 100px;
    padding: 10px 0 20px 0;
}

#Config > .configLine > input {
    background-color: var(--vscode-toolbar-background);
    border-color: var(--vscode-toolbar-hoverBackground);
    color: var(--vscode-icon-foreground);
}

.apply-button {
    width: auto !important;
    padding: 5px !important;
    cursor: pointer;
}